<button
	[ngClass]="{
		'button-primary': color === 'primary',
		'button-accent': color === 'accent',
		'button-secondary': color === 'secondary',
		'button-success': color === 'success',
		'button-warning': color === 'warning',
		'button-danger': color === 'danger',
		'button-gray': color === 'gray',
		'button-transparent': color === 'transparent',
		'button-rounded': rounded,
		'button-xs': size === 'xs',
		'button-sm': size === 'sm',
		'button-md': size === 'md',
		'button-lg': size === 'lg'
	}"
	[type]="type"
	[disabled]="disabled || loading"
	[style.width.px]="width"
	[style.height.px]="height"
>
	@if (!loading) {
		<ng-content></ng-content>
	} @else {
		<span class="button-loader"></span>
	}
</button>